<!DOCTYPE html>
<html xmlns:th="http//www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Online Coronavirus</title>
</head>
<body>
<div class="jumbotron">
  <h1 class="display-4" th:text="${totalReportedCases}"></h1>
  <p class="lead">Total cases reported today.</p>

</div>
<h1>Coronavirus Tracker</h1>
<div class="container">
<table class="table">

<thead>
<tr>
<th>Country</th>
<th>State</th>
<th>Total cases reported</th>
<th>Changes since last day</th>
</tr>
</thead>
<tbody>
<tr th:each="locationStat:${locationStats}">
<td th:text="${locationStat.country}"></td>
<td th:text="${locationStat.state}"></td>
<td th:text="${locationStat.latestTotalCases}"></td>
<td th:text="${locationStat.differFromPrevDay}"></td>
</tr>
</tbody>
</table>
</div>
</body>
</html>